NEXT_PUBLIC_SUPABASE_URL=https://oaahabbbrjoanaypxdthb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9hYWhhYmJyam9hbmF5cHhkdGhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NTM2MjgsImV4cCI6MjA5MDEyOTYyOH0.DegU2ss2o5-9gcZFTQh3P7ymoiN4sdK9nd4RmFy8yaM
OPENROUTER_API_KEY=your-openrouter-api-key
